body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 100;
  text-align: center;
}

#container {
  max-width: 600px;
  margin: 70px auto;
}

#wrapper {
  margin: 0 20px 0 20px;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-weight: inherit;
}

p {
  font-size: 20px;
}
